<a href="https://colab.research.google.com/github/Monisha-A-M/ASSAIGNMENT-1/blob/main/case_study2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('StudentsPerformance.csv')

In [ ]:
data.head()

   gender race/ethnicity  ... reading score writing score
0  female        group C  ...            17            10
1  female        group B  ...            24            23
2  female        group B  ...            32            28
3  female        group B  ...            38            32
4  female        group C  ...            39            33

[5 rows x 8 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

# TO GET THE NUMBER OF MALE AND FEMALE
***

In [ ]:
data[data['gender']=='female'].value_counts

<bound method DataFrame.value_counts of      gender race/ethnicity  ... reading score writing score
0    female        group C  ...            17            10
1    female        group B  ...            24            23
2    female        group B  ...            32            28
3    female        group B  ...            38            32
4    female        group C  ...            39            33
..      ...            ...  ...           ...           ...
513  female        group E  ...           100           100
514  female        group E  ...            93            90
515  female        group E  ...            92            97
516  female        group E  ...           100           100
517  female        group E  ...           100           100

[518 rows x 8 columns]>

In [ ]:
data[data['gender']=='male'].value_counts

<bound method DataFrame.value_counts of     gender race/ethnicity  ... reading score writing score
518   male        group C  ...            34            36
519   male        group A  ...            23            19
520   male        group B  ...            24            15
521   male        group E  ...            26            22
522   male        group B  ...            32            34
..     ...            ...  ...           ...           ...
995   male        group E  ...            87            81
996   male        group A  ...            96            86
997   male        group D  ...            97            99
998   male        group E  ...           100            93
999   male        group E  ...           100           100

[482 rows x 8 columns]>

# ***TO GET INFORMATION ON STUDENTS PARENTS QUALIFICATION***

In [ ]:
data['parental level of education'].describe()

count             1000
unique               6
top       some college
freq               226
Name: parental level of education, dtype: object

In [ ]:
data['parental level of education'].unique

<bound method Series.unique of 0        some high school
1             high school
2        some high school
3            some college
4            some college
              ...
995          some college
996          some college
997          some college
998    associate's degree
999     bachelor's degree
Name: parental level of education, Length: 1000, dtype: object>

In [ ]:
hparent=data['parental level of education']=='high school'
hparent.value_counts()

False    804
True     196
Name: parental level of education, dtype: int64

In [ ]:
shparent=data['parental level of education']=='some high school'
shparent.value_counts()

False    821
True     179
Name: parental level of education, dtype: int64

In [ ]:
cparent=data['parental level of education']=='some college'
cparent.value_counts()

False    774
True     226
Name: parental level of education, dtype: int64

In [ ]:
aparent=data['parental level of education']=="associate 's degree !"
aparent.value_counts()

False    1000
Name: parental level of education, dtype: int64

In [ ]:
bparent=data['parental level of education']=="bachelor 's degree!"
bparent.value_counts()

False    1000
Name: parental level of education, dtype: int64

#***MAXIMUM SCORE AMONG GIRLS AND BOYES***

In [ ]:
fstudent=data[data['gender']=='female']
fstudent.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

math score       63.376448
reading score    72.590734
writing score    72.467181
dtype: float64

In [ ]:
mstudent=data[data['gender']=='male']
mstudent.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

math score       68.821577
reading score    65.545643
writing score    63.446058
dtype: float64

girls has the maximum reading and writting average

# ***MAXIMUM SCORE BASED ON TEST PREPARATION COURSE***

In [ ]:
data['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [64]:
rmean=data['reading score'].mean()
rmean

69.195

In [65]:
wmean=data['writing score'].mean()
wmean

68.119

In [80]:
ctprep=data['test preparation course']=='completed'
ctprep.mean()

0.358

In [ ]:
ntprep=data['test preparation course']=='none'
ntprep.mean()

0.642

# ***TO GIVE BONUS POINT***

In [85]:
mmean=data['math score'].mean()
mmean

66.001

In [89]:
Bstudent=data['math score']>=mmean
Bstudent.value_counts()

False    503
True     497
Name: math score, dtype: int64

497 students recieve bonus points