<a href="https://colab.research.google.com/github/Monisha-A-M/ASSAIGNMENT-1/blob/main/case_study5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('Sales_data_zone_wise.csv')

# ***THE MEAN SALE GENERATED BY EACH ZONE***

In [ ]:
zoneA=data['Zone - A'].array
print(zoneA)

<PandasArray>
[1483525, 1238428, 1860771, 1871571, 1244922, 1534390, 1820196, 1625696,
 1652644, 1852450, 2004480, 1537539, 1254939, 1821799, 1128185, 1491534,
 1182110, 1770324, 1181635, 1305972, 1570152, 1481619, 1887694, 1880820,
 1256333, 1422853, 1384426, 1616640, 1310654]
Length: 29, dtype: int64

In [ ]:
zoneB=data['Zone - B'].array
zoneC=data['Zone - C'].array 
zoneD=data['Zone - D'].array

In [ ]:
print('meanof zoneA =',zoneA.mean())
print("mean of zoneB =",zoneB.mean())
print('mean of zoneC =',zoneC.mean())
print('mean of zoneD =',zoneD.mean())

meanof zoneA = 1540493.1379310344
mean of zoneB = 1755559.5862068965
mean of zoneC = 1772871.0344827587
mean of zoneD = 1842926.7586206896

# ** TOTAL SALES GENERATED BY EACH ZONE FOR EACH MONTH **

In [ ]:
arr=np.array(data)
no=range(0,29)
for i in no:
  smonth=arr[i,:]
  print(' for prodution in month',i,smonth)
  i+=1

 for prodution in month 0 ['Month - 1' 1483525 1748451 1523308 2267260]
 for prodution in month 1 ['Month - 2' 1238428 1707421 2212113 1994341]
 for prodution in month 2 ['Month - 3' 1860771 2091194 1282374 1241600]
 for prodution in month 3 ['Month - 4' 1871571 1759617 2290580 2252681]
 for prodution in month 4 ['Month - 5' 1244922 1606010 1818334 1326062]
 for prodution in month 5 ['Month - 6' 1534390 1573128 1751825 2292044]
 for prodution in month 6 ['Month - 7' 1820196 1992031 1786826 1688055]
 for prodution in month 7 ['Month - 8' 1625696 1665534 2161754 2363315]
 for prodution in month 8 ['Month - 9' 1652644 1873402 1755290 1422059]
 for prodution in month 9 ['Month - 10' 1852450 1913059 1754314 1608387]
 for prodution in month 10 ['Month - 11' 2004480 1740365 1317869 1970069]
 for prodution in month 11 ['Month - 12' 1537539 1875658 1237722 1460165]
 for prodution in month 12 ['Month - 13' 1254939 1588473 1348629 1733383]
 for prodution in month 13 ['Month - 14' 1821799 1844081 1617376 1872259]
 for prodution in month 14 ['Month - 15' 1128185 1804613 1767047 1234311]
 for prodution in month 15 ['Month - 16' 1491534 1542053 1882159 1590913]
 for prodution in month 16 ['Month - 17' 1182110 1552388 2234469 2180416]
 for prodution in month 17 ['Month - 18' 1770324 1699213 1249821 2364132]
 for prodution in month 18 ['Month - 19' 1181635 1959268 2009168 1821882]
 for prodution in month 19 ['Month - 20' 1305972 1559670 2107949 2151008]
 for prodution in month 20 ['Month - 21' 1570152 2013615 1540016 2265814]
 for prodution in month 21 ['Month - 22' 1481619 1527574 2255729 2295079]
 for prodution in month 22 ['Month - 23' 1887694 1992155 1348387 1459683]
 for prodution in month 23 ['Month - 24' 1880820 1752873 2098463 2052591]
 for prodution in month 24 ['Month - 25' 1256333 1622671 1521792 1695122]
 for prodution in month 25 ['Month - 26' 1422853 1715465 1853636 1520406]
 for prodution in month 26 ['Month - 27' 1384426 1983163 1611169 1289160]
 for prodution in month 27 ['Month - 28' 1616640 1547991 2128022 2178267]
 for prodution in month 28 ['Month - 29' 1310654 1660092 1947119 1854412]